.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.idea/
.vscode/
*.iml
.DS_Store
ios/Pods/
ios/Podfile.lock
android/.gradle/
android/local.properties
